@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pattaya&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-div {
  font-family: "Inter", sans-serif;
  position: relative;
  width: 1440px;
  height: 3595px;
  background-color: #C2CAE8;
  margin: 0 auto;
  margin-bottom: 10px;
}

.header-div {
  position: relative;
  font-family: "Inter", sans-serif;
  display: flex;
  width: 1440px;
  height: 91px;
  background-color: #111D4A;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  color: white;
}

.academicx-logo {
  position: relative;
  left: 228px;
  cursor: pointer;
}

.header-div a:nth-child(2) {
  position: relative;
  left: 466px;
  cursor: pointer;
}

.header-div a:nth-child(3) {
  position: relative;
  left: 553px;
  cursor: pointer;
}

.header-div a:nth-child(4) {
  position: relative;
  left: 643px;
  cursor: pointer;
}

.header-div a:nth-child(5) {
  position: relative;
  left: 890px;
  cursor: pointer;
}

.search-img {
  position: relative;
  left: 780px;
}

.join-us-txt {
  position: relative;
  width: 397px;
  height: 105px;
  left: 799px;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  top: 26px;
  color: #111D4A;
}

.banner-main-img {
  position: relative;
  border-radius: 10px;
  left: 228px;
  bottom: 20px;
}

.banner-inside-img {
  position: relative;
  right: 155px;
  bottom: 86px;
}

.sign-up-form {
  position: relative;
  left: 35px;
  top: 72px;
}

.terms-txt {
  position: relative;
  width: 405px;
  height: 57px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  left: 834px;
  top: 99px;
}

.what-course-txt {
  position: relative;
  width: 435px;
  height: 55px;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  color: #111D4A;
  left: 226px;
  top: 159px;
}

.showcase-img {
  position: relative;
  width: 566.43px;
  height: 373px;
  left: 643px;
  top: 190px;
}

.it-cs-txt {
  position: relative;
  width: 407px;
  height: 46px;
  font-size: 20px;
  font-weight: 700;
  left: 226px;
  bottom: 205px;
}

.ace-ur-skills-txt {
  position: relative;
  width: 370px;
  height: 59px;
  font-size: 18px;
  font-weight: 400;
  left: 226px;
  bottom: 187px;
}

.line1 {
  position: relative;
  width: 372.5px;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.412);
  left: 226px;
  bottom: 182px;
}

.school-lvl-txt {
  position: relative;
  width: 407px;
  height: 46px;
  font-size: 20px;
  font-weight: 600;
  left: 226px;
  bottom: 165px;
}

.line2 {
  position: relative;
  width: 372.5px;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.412);
  left: 226px;
  bottom: 173px;
}

.course1-txt {
  position: relative;
  width: 407px;
  height: 46px;
  font-size: 20px;
  font-weight: 600;
  left: 226px;
  bottom: 155px;
}

.line3 {
  position: relative;
  width: 372.5px;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.412);
  left: 226px;
  bottom: 154px;
}

.course2-txt {
  position: relative;
  width: 407px;
  height: 46px;
  font-size: 20px;
  font-weight: 600;
  left: 226px;
  bottom: 139px;
}

.line4 {
  position: relative;
  width: 372.5px;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.412);
  left: 226px;
  bottom: 139px;
}

.course3-txt {
  position: relative;
  width: 407px;
  height: 46px;
  font-size: 20px;
  font-weight: 600;
  left: 226px;
  bottom: 127px;
}

.line5 {
  position: relative;
  width: 372.5px;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.412);
  left: 226px;
  bottom: 129px;
}

.more-txt {
  position: relative;
  width: 46px;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
  left: 1156px;
  bottom: 105px;
}

.yellow-box-div {
  position: relative;
  width: 1440px;
  height: 524px;
  background-color: #FFBE0B;
  bottom: 40px;
  border: 1px solid black;
}

.not-sure-txt {
  position: relative;
  width: 443.15px;
  height: 44px;
  font-size: 36px;
  font-weight: 700;
  left: 206.41px;
  top: 133px;
  color: #111D4A;
}

.not-decided-txt {
  position: relative;
  width: 505px;
  height: 107px;
  font-size: 24px;
  font-weight: 400;
  left: 223px;
  top: 172px;
  color: #111D4A;
  letter-spacing: 0%;
  line-height: 25px;
}

.take-tour-bttn {
  position: relative;
  width: 99px;
  height: 44px;
  border-radius: 5px;
  left: 221px;
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
  background-color: #111D4A;
  color: white;
  align-content: center;
  text-align: center;
  top: 231px;
}

.group11-svg {
  position: relative;
  left: 874px;
  bottom: 85px;
}

.blue-box-div {
  position: relative;
  font-family: "Inter", sans-serif;
  width: 1440px;
  height: 340px;
  margin: 0 auto;
  background-color: #3A86FF;
  top: 72px;
  border: 1px solid #000000;
  color: #ffffff;
}

.join-now-txt {
  position: relative;
  width: 422px;
  height: 43px;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  left: 497.44px;
  top: 63px;
}

.twok-txt {
  position: relative;
  width: 108.43px;
  height: 48px;
  font-size: 40px;
  font-weight: 700;
  left: 295.85px;
  top: 140px;
}

.learners-txt {
  position: relative;
  width: 124.33px;
  height: 24px;
  font-size: 20px;
  font-weight: 600;
  left: 281.4px;
  top: 133px;
}

.twenty-txt {
  position: relative;
  width: 108.43px;
  height: 48px;
  font-size: 40px;
  font-weight: 700;
  left: 671.66px;
  top: 65px;
}

.city-txt {
  position: relative;
  width: 124.33px;
  height: 24px;
  font-size: 20px;
  font-weight: 600;
  left: 666.26px;
  top: 60px;
}

.onek-txt {
  position: relative;
  width: 108.43px;
  height: 48px;
  font-size: 40px;
  font-weight: 700;
  left: 1037.7px;
  bottom: 5px;
}

.materials-txt {
  position: relative;
  width: 122.66px;
  height: 48px;
  font-size: 20px;
  font-weight: 600;
  left: 1018.01px;
  bottom: 10px;
}

.purple-box-div {
  position: relative;
  width: 1440px;
  height: 513px;
  background-color: #8338EC;
  top: 72px;
}

.mail1-img {
  position: relative;
  left: 230.5px;
  top: 115px;
  width: 346px;
  height: 296px;
}

.academicx-logo2 {
  position: relative;
  left: 750px;
  bottom: 200px;
}

.from-crcmi-txt {
  position: relative;
  font-family: "Inter", sans-serif;
  left: 1100px;
  bottom: 200px;
  width: 79px;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #dadada;
}

.access-learning-txt {
  position: relative;
  font-family: "Inter", sans-serif;
  left: 695px;
  bottom: 175px;
  width: 503px;
  height: 78px;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  color: #ffffff;
}

.no-matter-txt {
  position: relative;
  font-family: "Inter", sans-serif;
  width: 543px;
  height: 116px;
  font-size: 24px;
  font-weight: 200;
  line-height: 130%;
  letter-spacing: 2px;
  left: 695px;
  bottom: 150px;
  color: white;
}

.explore-courses-txt {
  position: relative;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  text-decoration: none;
  background-color: #FFBE0B;
  color: #FF006E;
  width: 225px;
  height: 44px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  padding: 8px 10px 8px 14px;
  left: 690px;
  bottom: 100px;
}

.dark-blue-div {
  position: relative;
  font-family: "Inter", sans-serif;
  background-color: #111D4A;
  width: 1440px;
  height: 435px;
  top: 72px;
  border: 2px solid #000000;
}

.start-now-txt {
  position: relative;
  width: 283px;
  height: 42.63px;
  color: white;
  left: 233px;
  top: 114px;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
}

.take-first-step {
  position: relative;
  width: 570px;
  height: 58px;
  font-size: 24px;
  font-weight: 300;
  line-height: 130%;
  color: white;
  top: 152px;
  left: 233px;
}

.sign-up-bttn {
  position: relative;
  color: #FF1861;
  background-color: #FFBE0B;
  width: 121px;
  height: 44px;
  border-radius: 5px;
  align-content: center;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  left: 230px;
  top: 195px;
}

.mail2-img {
  position: relative;
  left: 908px;
  width: 346px;
  height: 296px;
  bottom: 77px;
}
